@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --font-primary: "Baloo Da2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Muli", serif;
    --font-roboto: "Roboto Mono", monospace, serif;
    --font-work: "Work Sans", sans-serif;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

/* Header inicio*/

header{
    height: 10vh;
    background: rgb(47,179,131);
    background: linear-gradient(90deg, rgba(47,179,131,1) 0%, rgba(24,168,107,1) 100%);
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: var(--font-roboto);
    color: #FFF;
    font-size: 2.5rem;
    text-shadow: rgb(88, 88, 88) 0.1em 0.1em 0.2em
}

#logo {
    height: 10vh;
}

main {
    width: 100%;
    background: rgb(114,215,204);
    background: linear-gradient(90deg, rgba(114,215,204,1) 0%, rgba(40,207,179,1) 100%);
}

.present {
    display: flex;
    padding-top: 5rem;
    justify-content: center;
    
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.title2 {
    display: flex;
    color: #FFF;
    font-family: var(--font-roboto);
    font-size: 2rem;
    text-shadow: rgb(88, 88, 88) 0.1em 0.1em 0.2em
}

.information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
}

.title3{
    font-family: var(--font-roboto);
    color: #FFF;
    font-size: 1.5rem;
    padding-bottom: 1.2rem;
    text-shadow: rgb(88, 88, 88) 0.1em 0.1em 0.2em
}

.paragraph {
    font-family: var(--font-roboto);
    color: #FFF;
    font-size: 1.6rem;
    margin-top: 1.2rem;
    text-shadow: rgb(88, 88, 88) 0.1em 0.1em 0.2em
}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 3rem;
    margin-left: 1rem;
    width: 30%;
}

.form {
    height: 2.8rem;
    text-align: center;
    margin-top: 0.8rem;
    border: none;
    border-radius: 10px;
    font-family: var(--font-roboto);
    font-size: 1.4rem;  
}

.btn {
    height: 2.8rem;
    margin-top: 1rem;
    border-radius: 15px;
    border: none;
    background: rgb(191,198,65);
    background: linear-gradient(90deg, rgba(191,198,65,1) 0%, rgba(215,211,0,1) 100%);
    cursor: pointer;
    color: #FFF;
    font-size: 1.5rem;
    font-family: var(--font-roboto);
    text-shadow: rgb(88, 88, 88) 0.1em 0.1em 0.2em  
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}

.image img {

}


.fab {
    font-size: 2rem;
    height: 1rem;
    border: none;
    cursor: pointer;
    transition: 0.8s;
    color: rgb(47,179,131);
    padding: 2rem;
}

.fab:hover {
    color: #FFF;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    background: rgb(20,24,36);
    background: linear-gradient(90deg, rgba(20,24,36,1) 0%, rgba(9,1,50,1) 100%);
    color: #FFF;
    font-size: 1.2rem;
}


@media(max-width: 980px){


header {
    height: 15vh;
    display: flex;
}

.title {
    text-align: center;
}

.logo {
    width: 80%;
}

.present {
    margin-left: 1rem;
    margin-right: 1rem;
}

.container {
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
}

form {
    width: 80%;
    margin-left: 0;
}

.image img{
    height: 80%;
    width: 80%;
}

footer {
    flex-direction: column;
    padding: 2.5rem;
}

}